
@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  * {
      box-sizing: border-box;
  }
  
  html {
      min-height: 20%;
      max-width:99%;
  }
  
  body {
      background: #28150766;
      line-height: 1;
      height: 100%;
      width: 100%;
      display: flex;
    flex-direction: column-reverse;
    position: absolute;
  }

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

#hide_chat {
    position: fixed;
    top: 0;
    right: 0;
    margin: 4px;
}

#show_chat {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    margin: 4px;
}

.visible-controll {
    background: #4c4c3b75;
    color: white;
    padding: 6px;
    border-radius: 4px;
    font-size: 0.8em;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    padding: 0
}
  
  header {
      
      text-align: center;
  }
  
  h1 {
    position: absolute;
    top: 0px;
    width: 100%;
    background: #0002;
    color: white;
    font-size: 1em;
    font-family: sans-serif;
    margin: 0px;
    padding: 8px;
  }

#input_zone {
    display: flex;
}

section#input_zone {
    display: none;
    flex-direction: row-reverse;
    width: 100%;
}
  
  div#change_username {
      display: flex;
      flex-direction: row-reverse;
  }

  #send_username {
      margin-left: 4px;
  }
  
  section#chatroom {
      overflow: auto;
      margin-top: 40px;
  }

#input_zone {
    padding: 8px;
}

#change_username {
    padding: 8px;
}
  
  .vertical-align {
      position: relative;
  }
  
  input#username {
      font-family: sans-serif;
      flex: auto;
      font-size: 2vh;
      background-color: #c5787899;
  }
  
  input#message {
      display: flex;
      font-family: sans-serif;
      font-size: 2vh;
      flex: auto;
  }

  button {
      background: #856a2173;
      color: white;
      border: black;
      border-radius: 4px;
      padding: 8px;
      font-size: 0.8em;
      margin-left: 4px;
  }

button#send_username {
    background: #99131399
}

  input {
      background: #f1e6c629;
      color: white;
      border: black;
      border-radius: 4px;
      padding: 8px;
      font-size: 0.8em;
  }
  
  .alert{
    display: inherit;
    color: white;
    background-color: #0004;
    border: none;
    padding: 8px;
    margin: 8px;
    width:auto;
  }

.mod-tools {
    display: none;
}

button#remove_msg {
    height: 4px;
    line-height: 0px;
}

button#remove_all {
    height: 4px;
    line-height: 0px;
}

button#ban_user {
    height: 4px;
    line-height: 0px;
}


.alert-user {
    background-color: #0004;
}

.alert-admin {
    background-color: #d552524d;
}

.alert-moderator {
    background-color: #e1b41233;
}
  
  p.message {
      margin: 0px;
      width: 100%;
      height: 40px;
      font-size: 2vh;
      font-family: 'Comfortaa', sans-serif;
      padding: 1vh;
  }
  
  .message:nth-child(even) {
      background-color: rgb(87, 113, 230);
  }
  
  .message:nth-child(odd) {
      background-color: rgb(87, 113, 230);
  }